/* GENERAL */
body {
    padding-top: 50px; /* Because of navbar-fixed-top */
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: white;
    font-size: 16px;
}

h1, h2, h3 {
    text-align: center;
}

em {
    color: #f2ce4b;
    font-style: normal;
}

p {
    max-width: 960px;
    margin: auto;
}

.contact p {
    text-align: center;
}

/* Vertical centering */
.vertical-align {
    display: flex;
    align-items: center;
}

.bigtext {
    font-size: 2.75em;
    line-height: 0.9em;
    max-width: 960px;
    margin: auto;
    padding: 1em 0 1em;
}

.bigtext p {
    font-size: 0.8em;
    padding: 0.5em;
}

a:visited {
    border: none;
}

a:hover {
    border: none;
}

/* BACKGROUNDS */
.bg-1 {
    background: #334466;
}
.bg-2 {
    background: #373a3d;
}
.bg-3 {
    background: #69acc6;
}
.bg-4 {
    background: #f2ce4b;
    color: #000;
}

/* NAVBAR */
/* navbar */
.navbar-default {
    background-color: #334466;
    border: none;
}
/* Title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f2ce4b;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f2ce4b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

/* TABLE */
.table {
    max-width: 960px;
    margin: auto;
}

.phone-number {
    color: white;
}

.phone-number:visited {
    text-decoration: none;
}

.phone-number:hover {
    color: #48c96f;
    text-decoration: none;
}

/* ARTICLES */
.articles p {
    color: white;
    margin: 1em auto 1em;
}

.articles p {
    font-size: 17px;
    font-style: oblique;
    transition: all 0.5s;
    background-color: #5e6b93;
    padding: 10px;
}

.articles p:hover {
    background-color: #454E6D;
}

.articles a:hover {
    text-decoration: none;
}

/* FOOTER */
footer {
    margin-top: 1em;
}

#footer-title {
    font-size: 1.5em;
    margin: 0.5em auto 0.5em;
}

footer h1 {
    margin-bottom: 20px;
}

footer a {
    color: white;
    transition: color 0.5s;
}

footer a:hover {
    color: #a9bde8;
}

.copyrights {
    color: #aaa;
    margin: 1em auto 1em;
}

/* GALLERY */
.gallery
{
    display: inline-block;
    margin-top: 20px;
}

